.page-header {
  background-image: initial;
  background-color: #040a20;
  text-align: left;
  padding: 0;
}

.page-header .main-content {
  display: flex;
  justify-content: space-between;
}

.page-header .main-content h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 35px;
}

.page-header .logo {
  width: 200px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #3a3c4c;
}

.main-content {
  max-width: 700px;
  padding: 2rem 30px;
  margin: 0 auto;
}

.main-content iframe {
  width: 100% !important;
}

.main-content p {
  margin-bottom: 1em;
  margin-top: 0.4em;
}

.main-content h2 {
  margin-bottom: 0;
}

.main-content hr {
  margin: 2rem 0;
  height: 1px;
}

.main-content a {
  color: #040a20;
  text-decoration: underline;
}

#content img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .logo {
  filter: grayscale(100%) contrast(80%);
}

footer .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .social-links a {
  margin: 10px 5px !important;
}

footer svg {
  width: 16px;
  height: 16px;
  fill: #b4b4b4;
}
