.page-header {
  background-image: initial;
  background-color: #040a20;
  text-align: left;
  padding: 0;
}

.page-header .main-content h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}

.page-header .logo {
  width: 200px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #3a3c4c;
}

.main-content {
  max-width: 640px;
  padding: 2rem 0rem;
  margin: 0 auto;
}
